<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <mappers>
        <mapper resource="mapper/AdminUserMapper.xml"></mapper>
        <mapper resource="mapper/CommentMapper.xml"></mapper>
        <mapper resource="mapper/EnterpriseUserMapper.xml"></mapper>
        <mapper resource="mapper/IndividualUserMapper.xml"></mapper>
        <mapper resource="mapper/PowerMapper.xml"></mapper>
        <mapper resource="mapper/RoleMapper.xml"></mapper>
        <mapper resource="mapper/RolePowerMapper.xml"></mapper>

    </mappers>
</configuration>