<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.RecordMapper">

    <select id="getRecordById" resultType="com.zb.pojo.Record">
        select
                id as id,
                userid as userid,
                orderno as orderno,
                tradwno as tradwno,
                companyid as companyid,
                companyname as companyname,
                orderstatus as orderstatus,
                noticePhone as noticePhone,
                modifyDate as modifyDate,
                updateTime as updateTime,
                version as version
        from record
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>


    <insert id="insertRecord" parameterType="com.zb.pojo.Record">
        insert into record(
                        userid,
                        orderno,
                        tradwno,
                        companyid,
                        companyname,
                        orderstatus,
                        noticePhone,
                        modifyDate,
                        updateTime,
                        version)
        values(
                     #{userid},
                     #{orderno},
                     #{tradwno},
                     #{companyid},
                     #{companyname},
                     #{orderstatus},
                     #{noticePhone},
                     #{modifyDate},
                     NOW(),
                    #{version})
    </insert>

    <delete id="deleteRecordById">
          delete from `record` where id=#{id}
    </delete>

    <update id="updateOrder">
        UPDATE `record` SET orderstatus=2 ,tradwno=#{tradwno},updateTime=NOW() WHERE orderno=#{orderno};
    </update>

    <select id="findOrderByUserid" resultType="com.zb.pojo.Record">
        SELECT *FROM `record` WHERE userid=#{userid} ;
    </select>

    <select id="findOrderByCompanyid" resultType="com.zb.pojo.Record">
        SELECT *FROM `record` WHERE companyid=#{companyid} ;
    </select>

    <update id="updateStatetoFinish">
        UPDATE `record`SET orderstatus=1 WHERE orderno=#{orderno}
    </update>

    <select id="findOrderByOrderNo" resultType="com.zb.pojo.Record">
        SELECT * FROM `record` WHERE  orderno=#{orderno}
    </select>

    <update id="updateOrdertime" parameterType="com.zb.pojo.Record">
        update record
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="userid != null and userid!=''">
                userid=#{userid},
            </if>
            updateTime=now(),
            <if test="orderno != null and orderno!=''">
                orderno=#{orderno},
            </if>
            <if test="tradwno != null and tradwno!=''">
                tradwno=#{tradwno},
            </if>
            <if test="companyid != null and companyid!=''">
                companyid=#{companyid},
            </if>
            <if test="companyname != null and companyname!=''">
                companyname=#{companyname},
            </if>
            <if test="orderstatus != null and orderstatus!=''">
                orderstatus=#{orderstatus},
            </if>
            <if test="noticePhone != null and noticePhone!=''">
                noticePhone=#{noticePhone},
            </if>
            <if test="modifyDate != null and modifyDate!=''">
                modifyDate=#{modifyDate},
            </if>
            <if test="version != null and version!=''">
                version=#{version}
            </if>
        </trim>
    </update>

    <select id="findByUpdateTimeBefore" resultType="com.zb.pojo.Record">
        SELECT *  FROM record WHERE TIMESTAMPDIFF( MINUTE,updateTime, NOW())>1
    </select>

    <update id="updateTaskVersion" parameterType="com.zb.pojo.Record">
        update record set version = version+1 ,updateTime=NOW() where id=#{id} and version = #{version}
    </update>
</mapper>