<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.DesignCaseMapper">

    <select id="findDesignCount" resultType="java.lang.Integer">
          SELECT COUNT(1)FROM `design_case`WHERE companyid=#{companyid}
    </select>

    <select id="findDesignAll" resultType="com.zb.entity.DesignCase">
          SELECT *FROM `design_case` WHERE companyid=#{companyid}
    </select>

    <select id="findDesignShowSix" resultType="com.zb.entity.DesignCase">
          SELECT *FROM `design_case` WHERE companyid=#{companyid} LIMIT 0,6
    </select>
</mapper>