<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.EnterpriseUserMapper">

    <select id="findCompanyPage" resultType="com.zb.entity.EnterpriseUser">
          SELECT e.* ,
	(SELECT AVG(score) FROM `comment` c WHERE c.companyid=e.`id`) AS score,
	(SELECT SUM(isok)/COUNT(companyid) FROM `comment` c WHERE c.companyid=e.`id`) AS recommend,
	(SELECT COUNT(id) FROM `comment` c WHERE c.companyid=e.`id`) AS commentnum
FROM `enterprise_user` e  WHERE 1=1
AND id IN (SELECT companyid FROM `extend_property`
                WHERE extendname IN
               ('样板间','装修分期','免费效果图')
                GROUP BY companyid)
AND id IN (SELECT companyid FROM `area`
                WHERE servicearea IN
               ('丰县','沛县')
                GROUP BY companyid)

ORDER BY score  DESC
LIMIT #{start},#{size}
    </select>

    <select id="findCount" resultType="java.lang.Integer">

    </select>
</mapper>