<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.EnterpriseUserMapper">
    <resultMap id="mycompany" type="com.zb.entity.EnterpriseUser">
        <id property="id" column="id"></id>
        <result property="companyName" column="company_name"></result>
        <result property="companyUsername" column="company_username"></result>
        <result property="companyAddress" column="company_address"></result>
        <result property="companyPic" column="company_pic"></result>
        <result property="companyFeature" column="company_feature"></result>
        <result property="companyQualification" column="company_qualification"></result>
        <result property="companyIntroduce" column="company_introduce"></result>
        <result property="companyStatus" column="company_status"></result>
    </resultMap>

    <select id="findCompanyPage" resultMap="mycompany">
          SELECT e.* ,
                (SELECT AVG(score) FROM `comment` c WHERE c.companyid=e.`id`) AS score,
                (SELECT SUM(isok)/COUNT(companyid) FROM `comment` c WHERE c.companyid=e.`id`) AS recommend,
                (SELECT COUNT(id) FROM `comment` c WHERE c.companyid=e.`id`) AS commentnum
          FROM `enterprise_user` e  WHERE 1=1
        <if test="extendname!=null and extendname.length>0">
            AND id IN (SELECT companyid FROM `extend_property`
            WHERE extendname IN
            <foreach collection="extendname" item="extendname" open="(" close=")" separator=",">
                #{extendname}
            </foreach>
            GROUP BY companyid)
        </if>
        <if test="servicearea!=null and servicearea.length>0">
            AND id IN (SELECT companyid FROM `area`
            WHERE servicearea IN
            <foreach collection="servicearea" item="servicearea" open="(" close=")" separator=",">
                #{servicearea}
            </foreach>
            GROUP BY companyid)
        </if>
        <if test="ordertype=='评分'">
            ORDER BY score  DESC
        </if>
        <if test="ordertype=='好评率'">
            ORDER BY recommend  DESC
        </if>
        LIMIT #{start},#{size}
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM `enterprise_user` e  WHERE 1=1
        <if test="extendname!=null and extendname.length>0">
            AND id IN (SELECT companyid FROM `extend_property`
            WHERE extendname IN
            <foreach collection="extendname" item="extendname" open="(" close=")" separator=",">
                #{extendname}
            </foreach>
            GROUP BY companyid)
        </if>
        <if test="servicearea!=null and servicearea.length>0">
            AND id IN (SELECT companyid FROM `area`
            WHERE servicearea IN
            <foreach collection="servicearea" item="servicearea" open="(" close=")" separator=",">
                #{servicearea}
            </foreach>
            GROUP BY companyid)
        </if>
    </select>

    <select id="findCompanyByid" resultMap="mycompany">
        SELECT *FROM `enterprise_user` WHERE id=#{id}
    </select>

    <select id="findCompanyAll" resultMap="mycompany">
        SELECT *FROM `enterprise_user`
    </select>
</mapper>