<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.PicMapper">

    <select id="findPicByDesignId" resultType="com.zb.entity.Pic">
        SELECT *FROM `pic` WHERE targetid=#{targetid} AND pictype=1
    </select>
</mapper>